ERPClient1_Assignment6/Connected Services/Assignment6Service/Assignment6Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MetaDataForEmployeeTable">
        <s:complexType />
      </s:element>
      <s:element name="MetaDataForEmployeeTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MetaDataForEmployeeTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmployeeRelatives">
        <s:complexType />
      </s:element>
      <s:element name="EmployeeRelativesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmployeeRelativesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmployeeAbsent2004">
        <s:complexType />
      </s:element>
      <s:element name="EmployeeAbsent2004Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmployeeAbsent2004Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmployeeAbsentTheMost">
        <s:complexType />
      </s:element>
      <s:element name="EmployeeAbsentTheMostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmployeeAbsentTheMostResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllKeys">
        <s:complexType />
      </s:element>
      <s:element name="AllKeysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AllKeysResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllIndexes">
        <s:complexType />
      </s:element>
      <s:element name="AllIndexesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AllIndexesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllTableConstraints">
        <s:complexType />
      </s:element>
      <s:element name="AllTableConstraintsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AllTableConstraintsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllTables1">
        <s:complexType />
      </s:element>
      <s:element name="AllTables1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AllTables1Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllTables2">
        <s:complexType />
      </s:element>
      <s:element name="AllTables2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AllTables2Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllColumns1">
        <s:complexType />
      </s:element>
      <s:element name="AllColumns1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AllColumns1Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllColumns2">
        <s:complexType />
      </s:element>
      <s:element name="AllColumns2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AllColumns2Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MetaDataForEmployeeTableSoapIn">
    <wsdl:part name="parameters" element="tns:MetaDataForEmployeeTable" />
  </wsdl:message>
  <wsdl:message name="MetaDataForEmployeeTableSoapOut">
    <wsdl:part name="parameters" element="tns:MetaDataForEmployeeTableResponse" />
  </wsdl:message>
  <wsdl:message name="EmployeeRelativesSoapIn">
    <wsdl:part name="parameters" element="tns:EmployeeRelatives" />
  </wsdl:message>
  <wsdl:message name="EmployeeRelativesSoapOut">
    <wsdl:part name="parameters" element="tns:EmployeeRelativesResponse" />
  </wsdl:message>
  <wsdl:message name="EmployeeAbsent2004SoapIn">
    <wsdl:part name="parameters" element="tns:EmployeeAbsent2004" />
  </wsdl:message>
  <wsdl:message name="EmployeeAbsent2004SoapOut">
    <wsdl:part name="parameters" element="tns:EmployeeAbsent2004Response" />
  </wsdl:message>
  <wsdl:message name="EmployeeAbsentTheMostSoapIn">
    <wsdl:part name="parameters" element="tns:EmployeeAbsentTheMost" />
  </wsdl:message>
  <wsdl:message name="EmployeeAbsentTheMostSoapOut">
    <wsdl:part name="parameters" element="tns:EmployeeAbsentTheMostResponse" />
  </wsdl:message>
  <wsdl:message name="AllKeysSoapIn">
    <wsdl:part name="parameters" element="tns:AllKeys" />
  </wsdl:message>
  <wsdl:message name="AllKeysSoapOut">
    <wsdl:part name="parameters" element="tns:AllKeysResponse" />
  </wsdl:message>
  <wsdl:message name="AllIndexesSoapIn">
    <wsdl:part name="parameters" element="tns:AllIndexes" />
  </wsdl:message>
  <wsdl:message name="AllIndexesSoapOut">
    <wsdl:part name="parameters" element="tns:AllIndexesResponse" />
  </wsdl:message>
  <wsdl:message name="AllTableConstraintsSoapIn">
    <wsdl:part name="parameters" element="tns:AllTableConstraints" />
  </wsdl:message>
  <wsdl:message name="AllTableConstraintsSoapOut">
    <wsdl:part name="parameters" element="tns:AllTableConstraintsResponse" />
  </wsdl:message>
  <wsdl:message name="AllTables1SoapIn">
    <wsdl:part name="parameters" element="tns:AllTables1" />
  </wsdl:message>
  <wsdl:message name="AllTables1SoapOut">
    <wsdl:part name="parameters" element="tns:AllTables1Response" />
  </wsdl:message>
  <wsdl:message name="AllTables2SoapIn">
    <wsdl:part name="parameters" element="tns:AllTables2" />
  </wsdl:message>
  <wsdl:message name="AllTables2SoapOut">
    <wsdl:part name="parameters" element="tns:AllTables2Response" />
  </wsdl:message>
  <wsdl:message name="AllColumns1SoapIn">
    <wsdl:part name="parameters" element="tns:AllColumns1" />
  </wsdl:message>
  <wsdl:message name="AllColumns1SoapOut">
    <wsdl:part name="parameters" element="tns:AllColumns1Response" />
  </wsdl:message>
  <wsdl:message name="AllColumns2SoapIn">
    <wsdl:part name="parameters" element="tns:AllColumns2" />
  </wsdl:message>
  <wsdl:message name="AllColumns2SoapOut">
    <wsdl:part name="parameters" element="tns:AllColumns2Response" />
  </wsdl:message>
  <wsdl:portType name="Assignment6ServiceSoap">
    <wsdl:operation name="MetaDataForEmployeeTable">
      <wsdl:input message="tns:MetaDataForEmployeeTableSoapIn" />
      <wsdl:output message="tns:MetaDataForEmployeeTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeRelatives">
      <wsdl:input message="tns:EmployeeRelativesSoapIn" />
      <wsdl:output message="tns:EmployeeRelativesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeAbsent2004">
      <wsdl:input message="tns:EmployeeAbsent2004SoapIn" />
      <wsdl:output message="tns:EmployeeAbsent2004SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeAbsentTheMost">
      <wsdl:input message="tns:EmployeeAbsentTheMostSoapIn" />
      <wsdl:output message="tns:EmployeeAbsentTheMostSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AllKeys">
      <wsdl:input message="tns:AllKeysSoapIn" />
      <wsdl:output message="tns:AllKeysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AllIndexes">
      <wsdl:input message="tns:AllIndexesSoapIn" />
      <wsdl:output message="tns:AllIndexesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AllTableConstraints">
      <wsdl:input message="tns:AllTableConstraintsSoapIn" />
      <wsdl:output message="tns:AllTableConstraintsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AllTables1">
      <wsdl:input message="tns:AllTables1SoapIn" />
      <wsdl:output message="tns:AllTables1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AllTables2">
      <wsdl:input message="tns:AllTables2SoapIn" />
      <wsdl:output message="tns:AllTables2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AllColumns1">
      <wsdl:input message="tns:AllColumns1SoapIn" />
      <wsdl:output message="tns:AllColumns1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AllColumns2">
      <wsdl:input message="tns:AllColumns2SoapIn" />
      <wsdl:output message="tns:AllColumns2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Assignment6ServiceSoap" type="tns:Assignment6ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MetaDataForEmployeeTable">
      <soap:operation soapAction="http://tempuri.org/MetaDataForEmployeeTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeRelatives">
      <soap:operation soapAction="http://tempuri.org/EmployeeRelatives" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeAbsent2004">
      <soap:operation soapAction="http://tempuri.org/EmployeeAbsent2004" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeAbsentTheMost">
      <soap:operation soapAction="http://tempuri.org/EmployeeAbsentTheMost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllKeys">
      <soap:operation soapAction="http://tempuri.org/AllKeys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllIndexes">
      <soap:operation soapAction="http://tempuri.org/AllIndexes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllTableConstraints">
      <soap:operation soapAction="http://tempuri.org/AllTableConstraints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllTables1">
      <soap:operation soapAction="http://tempuri.org/AllTables1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllTables2">
      <soap:operation soapAction="http://tempuri.org/AllTables2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllColumns1">
      <soap:operation soapAction="http://tempuri.org/AllColumns1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllColumns2">
      <soap:operation soapAction="http://tempuri.org/AllColumns2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Assignment6ServiceSoap12" type="tns:Assignment6ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MetaDataForEmployeeTable">
      <soap12:operation soapAction="http://tempuri.org/MetaDataForEmployeeTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeRelatives">
      <soap12:operation soapAction="http://tempuri.org/EmployeeRelatives" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeAbsent2004">
      <soap12:operation soapAction="http://tempuri.org/EmployeeAbsent2004" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeAbsentTheMost">
      <soap12:operation soapAction="http://tempuri.org/EmployeeAbsentTheMost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllKeys">
      <soap12:operation soapAction="http://tempuri.org/AllKeys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllIndexes">
      <soap12:operation soapAction="http://tempuri.org/AllIndexes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllTableConstraints">
      <soap12:operation soapAction="http://tempuri.org/AllTableConstraints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllTables1">
      <soap12:operation soapAction="http://tempuri.org/AllTables1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllTables2">
      <soap12:operation soapAction="http://tempuri.org/AllTables2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllColumns1">
      <soap12:operation soapAction="http://tempuri.org/AllColumns1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllColumns2">
      <soap12:operation soapAction="http://tempuri.org/AllColumns2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Assignment6Service">
    <wsdl:port name="Assignment6ServiceSoap" binding="tns:Assignment6ServiceSoap">
      <soap:address location="http://localhost/WSAssignment6/Assignment6Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Assignment6ServiceSoap12" binding="tns:Assignment6ServiceSoap12">
      <soap12:address location="http://localhost/WSAssignment6/Assignment6Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>